@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color:#f1f8ff;
    --secondary-color:#007BFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:500px;
    height: 500px;
    background-color: var(--primary-color);
    color: #343A40;
    font-family: 'Roboto', Courier;
}

.main-heading {
    font-weight: 800;
    text-align: center;
    margin: 10px;
}

.btn {
    border-radius: 7px;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    height: 30px;
    width: 150px;
    font-weight: 700;
}

.btn:hover {
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
}

.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    max-height: 300px;
}

.note {
    min-height: 80px;
    width: 80%;
    margin-top: 15px;
    padding: 2px;
    border: 2px solid #343A40;
    border-radius: 5px;
}

.note .heading {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    gap: 50px;
    text-wrap: nowrap;
}

.note .text {
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #343A40;
}

.note .title {
    width: 70%;
    overflow: hidden;
}

.note .url {
    overflow: hidden;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    position: fixed;
    bottom: 20;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 75, 75); 
  }